<section class="row">
  <div class="row-item">
    <header>
      <h4>Informações Básicas</h4>
      <i class="fa-solid fa-pen"></i>
    </header>
    <div class="item-body">
      <div class="item-campo">
        <label for="nome">Nome Completo</label>
        <p>{{detalhes.nome}}</p>
      </div>
      <div class="item-campo">
        <label for="telefone">Telefone</label>
        <p>{{detalhes.telefone}}</p>
      </div>
      <div class="item-campo">
        <label for="email">Email</label>
        <p>{{detalhes.email}}</p>
      </div>
      <div class="item-campo">
        <label for="empresa">Empresa</label>
        <p>{{detalhes.empresa}}</p>
      </div>
      <div class="item-campo">
        <label for="corretor">Corretor</label>
        <p>{{detalhes.corretor}}</p>
      </div>
    </div>
  </div>
  <div class="row-item">
    <header>
      <h4>Status: {{detalhes?.status}}</h4>
      <i class="fa-solid fa-pen"></i>
    </header>
  </div>
</section>

